<!-- START Sub-Navbar with Header and Breadcrumbs-->
<div class="sub-navbar sub-navbar__header-breadcrumbs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 sub-navbar-column">
        <div class="sub-navbar-header">
          <h3>设置</h3>
        </div>
        <ol class="breadcrumb navbar-text navbar-right no-bg">
          <li class="current-parent">
            <a class="current-parent" href="/monitor/asset-status">
              <i class="fa fa-fw fa-dashboard"></i>
            </a>
          </li>

          <li class="current-parent">
            <a class="current-parent" href="/setting">
              规则引擎设置
            </a>
          </li>
          <li class="active">规则设置</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<!-- END Sub-Navbar with Header and Breadcrumbs-->

<div class="container-fluid" style="">

  <div class="row">
    <div class="col-lg-12">

      <div class="panel panel-default">
        <div class="panel-heading panel-heading b-b-warning b-b-2">
          <a href="javascript:open_modal()" class="btn btn-primary btn-sm pull-right">新建</a>
          <h3 class="panel-title">规则</h3>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="small text-muted text-uppercase">
                <strong>名称</strong>
              </th>
              <th class="small text-muted text-uppercase">
                <strong>管线名称</strong>
              </th>
              <th class="small text-muted text-uppercase">
                <strong>设备名称</strong>
              </th>
              <th class="small text-muted text-uppercase">
                <strong>设备编号</strong>
              </th>
              <th class="small text-muted text-uppercase">
                <strong>设备通道编号</strong>
              </th>
              <th class="small text-muted text-uppercase">
                <strong>起始位置</strong>
              </th>
              <th class="small text-muted text-uppercase">
                <strong>结束位置</strong>
              </th>
              <th class="small text-muted text-uppercase">
                <strong>时间窗口</strong>
              </th>
              <th class="small text-muted text-uppercase">
                <strong>发生次数</strong>
              </th>
              <th class="small text-muted text-uppercase">
                <strong>优先级</strong>
              </th>
              <th class="small text-muted text-uppercase">
                <strong>备注</strong>
              </th>
              <th class="small text-muted text-uppercase text-right">
                <strong>操作</strong>
              </th>


            </tr>
          </thead>
          <tbody>
            <% @rules.each do |rule| %>
            <tr>
              <td class="v-a-m">
                <a href="javascript:update_rule(<%= rule.id %>);">
                  <%= rule.name %>
                </a>
              </td>
              <td class="v-a-m">
                <span class="text-white">
                  <%= rule.pipeline.name %></span>
              </td>
              <td class="v-a-m">
                <span class="text-white">
                  <%= rule.pipeline.device_smartpipe[0].name %></span>
              </td>
              <td class="v-a-m">
                <span class="text-white">
                  <%= rule.pipeline.device_smartpipe[0].no %></span>
              </td>
              <td class="v-a-m">
                <span class="text-white">
                  <%= rule.pipeline.device_smartpipe[1] %></span>
              </td>
              <td class="v-a-m">
                <span class="text-white">
                  <%= rule.start_position %></span>
              </td>
              <td class="v-a-m">
                <span class="text-white">
                  <%= rule.end_position %></span>
              </td>
              <td class="v-a-m">
                <span class="text-white">
                  <%= rule.timescope %></span>
              </td>
              <td class="v-a-m">
                <span class="text-white">
                  <%= rule.count %></span>
              </td>
              <td class="v-a-m">
                <span class="text-white">
                  <%= rule.priority %></span>
              </td>
              <td class="v-a-m">
                <span class="text-white">
                  <%= rule.remark %></span>
              </td>
              <td class="text-right v-a-m">
                <div class="btn-group" role="group" aria-label="...">

                  <a href="javascript:update_rule(<%= rule.id %>);" class="btn btn-default">
                    <i class="fa fa-wrench"></i>
                  </a>

                  <a onclick="return confirm('确认删除吗 ?')" href="/setting/engine_rules/delete/<%= rule.id %>" class="btn btn-default">
                    <i class="fa fa-close"></i>
                  </a>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&#xD7;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">新建规则</h4>
      </div>
      <form class="form-horizontal" action="/setting/engine_rules" method="post">
        <input type="hidden" name="id" id='id'>
        <input type="hidden" id="current_page" name='current_page' value='<%= params[:page] %>'>

        <div class="modal-body" id='modal-body'>
          <div class="form-group">
            <label for="name" class="col-sm-3 control-label">名称</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="name" name='name'>
            </div>
          </div>
          <div class="form-group">
            <label for="no" class="col-sm-3 control-label">管线</label>
            <div class="col-sm-9">
              <select class="form-control" id='pipeline_id' name='pipeline_id'>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="start_position" class="col-sm-3 control-label">起始位置</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="start_position" name="start_position">
              <span id="helpBlock" class="help-block">请填写数字，单位：米</span>
            </div>
          </div>
          <div class="form-group">
            <label for="end_position" class="col-sm-3 control-label">终点位置</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="end_position" name="end_position">
              <span id="helpBlock" class="help-block">请填写数字，单位：米</span>
            </div>
          </div>
          <div class="form-group">
            <label for="end_position" class="col-sm-3 control-label">时间窗口</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="timescope" name="timescope">
              <span id="helpBlock" class="help-block">设定规则的判断时间窗口，请填写数字，单位：秒</span>
            </div>
          </div>
          <div class="form-group">
            <label for="end_position" class="col-sm-3 control-label">次数</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="count" name="count">
              <span id="helpBlock" class="help-block">在时间窗口内发生的次数，请填写数据</span>
            </div>
          </div>
          <div class="form-group">
            <label for="end_position" class="col-sm-3 control-label">优先级</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="priority" name="priority">
              <span id="helpBlock" class="help-block">数字越大优先级越高，请填写数字，最大9999</span>
            </div>
          </div>
          <div class="form-group">
            <label for="remark" class="col-sm-3 control-label">备注</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="remark" name="remark">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary"  name="" value="保存">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script type="text/javascript">

function update_rule(rule_id){


  $.getJSON( "/ajax/get_pipelines", function( data ) {
    $.each(data, function (key, val) {
      $('#pipeline_id').append('<option value="'+ val.id +'" selected="selected">' + val.name + '</option>');
    });

    $.getJSON( "/ajax/get_engine_rule/"+rule_id, function( data ) {
      $('#id').val(data.id);
      $('#name').val(data.name);
      $('#pipeline_id').val(data.pipeline_id);
      $('#start_position').val(data.start_position);
      $('#end_position').val(data.end_position);
      $('#timescope').val(data.timescope);
      $('#count').val(data.count);
      $('#priority').val(data.priority);
      $('#remark').val(data.remark);

      $('#myModal').modal('show');
    });
  });
}

function open_modal(){
  $.getJSON( "/ajax/get_pipelines", function( data ) {
    $('#pipeline_id').empty();
    $.each(data, function (key, val) {
      $('#pipeline_id').append('<option value="'+ val.id +'" selected="selected">' + val.name + '</option>');
    });
    $('#myModal').modal('show');
  });
}

</script>
